<div class="container w-75 h-50 mt-4">
  <div class="row main-nav border rounded-5 ">
    <div class="col-md-4">
      <ul class="nav justify-content-end mt-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fa-solid fa-magnifying-glass" style="color: #141415"></i
              >
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">كلمنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">حكايتنا</a>
        </li>
      </ul>
    </div>

    <div class="col-md-3 ms-5">
      <a class="nav-link active logo ms-5 ps-2" aria-current="page" href="#">Gusteau</a>
    </div>

    <div class="col-md-4">
      <ul class="nav mt-4 justify-content-start">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/legumes">نشويات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/protein">بروتين</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"
           routerLink="/all-recipes" >هناكل ايه النهرده؟</a>
        </li>
      </ul>
    </div>

  </div>
</div>
