<section class="vh-100 gradient-custom">
  <div class="container-fluid py-5 h-100">
    <div class="row justify-content-center align-items-center h-75">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">تسجيل</h3>


            <form [formGroup]="form" >

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">الاسم الاول</label>
                    <input formControlName="firstName" type="text" id="firstName" class="form-control form-control-lg" />

                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">الاسم الاخير</label>
                    <input type="text" formControlName="lastName" id="lastName" class="form-control form-control-lg" />

                  </div>

                </div>
              </div>

              <div class="row">

                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">النوع: </h6>

                  <div class="form-check form-check-inline">
                    <label class="form-check-label" for="femaleGender">انثي</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                      value="option1" checked />

                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                      value="option2" />
                    <label class="form-check-label" for="maleGender">ذكر</label>
                  </div>



                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">بريد الالكتروني</label>
                    <input type="email" formControlName="email" id="emailAddress" class="form-control form-control-lg" />

                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="password">كلمة السر</label>
                    <input type="password" formControlName="password" id="password" class="form-control form-control-lg" />

                  </div>

                </div>
              </div>



              <div class="mt-4 pt-2">
                <input class="btn btn-lg" type="submit" (click)="signUp()" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
