<div class="row" >
  <div class="col-md-12">

  <h2 class="mt-5 text-decoration-underline">كل وصفاتنا</h2>
  </div>

    <div class="col-md-3 ms-5 mt-5" >
    <div class="card ms-5" style="width: 18rem;" >
      <img src="assets/images/shawrma.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-3">Shawerma | شاورما</h5>
        <p class="card-text">طريقة عمل سندوتشات شاورما الدجاج مثل المطاعم وأفضل بخطوات بسيطة وسهلة</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item fs-5">نوع: بروتين</li>

      </ul>
      <div class="card-body text-center">

        <a href="#" class="card-link text-decoration-none">الوصفة</a>
      </div>
    </div>
  </div>
    </div>

