
*{
  direction: rtl;
}

.btn{
  background-color:#85693ef1;
  color:rgb(243, 237, 235);
  font-family: 'Aref Ruqaa', cursive;

}

.btn:hover{

  background-color: #4f2b05f1;
  color:rgb(220, 209, 201);
}

.card-body{
  background-color: rgba(236, 209, 174, 0.275);
}
label{

  font-size: 20px;
  font-family: 'Aref Ruqaa', cursive;
}

h5{
  text-align: center;
  font-size: 45px;
  color: rgb(42, 23, 16);
  font-family: 'Aref Ruqaa', cursive;
  }

  span,p{
    text-align: center;
    font-size:20px;
    color: rgba(42, 23, 16, 0.633);
    font-family: 'Aref Ruqaa', cursive;

  }
