h2,h5,li{
  text-align: center;
  font-family: 'Aref Ruqaa', serif;

}

p{
  font-size: 16px;
  font-family: 'Marhey', cursive;
  font-weight: 300;

}

a{font-weight: bolder;
  color: rgb(208, 63, 63);
  font-size: 18px;
  font-family: 'Marhey', cursive;
}
