<div class="container">
  <div class="row align-items-center">


    <div class="col-md-7 pe-5 mt-5">
      <img src="/assets/images/baklawa.png" class="img-fluid" alt="" />
    </div>

    <div class="col-md-4">
      <div class="row align-items-start">

        <div class="col-md-12 mt-5 me-5">
          <p class="text-center me-5 lh-lg">
           مفيش احلى من اكل البيت، نظيف، صحي، و احلى حاجة انت العامله بايدك
          </p>
        </div>

        <div class="col-md-12 text-center  me-5  ">

          <button type="button" class="btn btn-lg border rounded-5" routerLink="/all-recipes">
            يلا نشوف هتاكل ايه
          </button>



        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Gusteau</h1>
      <h3>الطبخ للجميع</h3>
    </div>
    <div class="row align-items-center">

      <div class="col-md-6 position-relative">

        <img
          src="/assets/images/sambosa.png"
          class="img-fluid w-100 h-100 bottom-0 end-0 mt-5"
          alt=""/>


      </div>

      <div class="col-md-5 ms-5 ">
        <p class="text-center lh-lg ">
        مش عارفين تعملوا اكل ايه النهرده صح؟
        هنا هتلاقي اكلات و وصفات من ايد مختلفة تقدر تجربها و كمان تحط وصفتك عشان نجربها
         </p>
         <button type="button" class="btn btn-lg border rounded-5" routerLink="/add">ضيف وصفتك

        </button>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-10">
      <h3 class="fs-1 text-decoration-underline"> اشهر الوصفات</h3>
    </div>


      <app-filtering></app-filtering>


      <app-recipe [term]="0"></app-recipe>



  </div>
</div>
