<footer>

  <div class="row mt-5">
    <div class="col-md-4 col-sm-12" >
<h1 class="p-5">Gusteau</h1>
    </div>

    <div class="col-md-2 col-sm-4">

      <ul class="list-unstyled pt-3">
        <small class="text-light">تابعنا</small>
        <li>
          <a
            href=""
            routerLink="/aboutus"
            class="text-decoration-none text-light"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            routerLink="/aboutus"
            class="text-decoration-none text-light"
          >
          <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            routerLink="/aboutus"
            class="text-decoration-none text-light"
          >
          <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            routerLink="/aboutus"
            class="text-decoration-none text-light"
          >
          <i class="fa-brands fa-pinterest"></i>
          </a>
        </li>
      </ul>

    </div>

    <div class="col-md-3 col-sm-4">
      <ul class="list-unstyled pt-3">
        <li>
          <a
            href=""
            routerLink="/aboutus"
            class="text-decoration-none text-light"
          >
            <small> شروط الاستخدام</small>
          </a>
        </li>
        <li>
          <a
            href=""
            routerLink="/aboutus"
            class="text-decoration-none text-light"
          >
            <small>سياسة الخصوصية</small>
          </a>
        </li>
        <li>
          <a
            href=""
            routerLink="/aboutus"
            class="text-decoration-none text-light"
          >
            <small class="fs-6">الوظائف</small>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-2 col-sm-4">
      <ul class="list-unstyled pt-3">
        <li>
          <a
            href=""
            routerLink="/aboutus"
            class="text-decoration-none text-light"
          >
            <small class="fs-6"> أقسام الوصفات</small>
          </a>
        </li>
        <li>
          <a
            href=""
            routerLink="/all-recipes"
            class="text-decoration-none text-light"
          >
            <small class="fs-6">كل الوصفات</small>
          </a>
        </li>
        <li>
          <a
            href=""
            routerLink="/protein"
            class="text-decoration-none text-light"
          >
            <small class="">بروتين</small>
          </a>
        </li>

        <li>
          <a
            href=""
            routerLink="/legumes"
            class="text-decoration-none text-light"
          >
            <small class=>نشويات</small>
          </a>
        </li>

      </ul>
    </div>

  </div>
</footer>
