

<div class="row mt-5 ">
  <div class="col-md-2 "></div>
  <div class="col-md-4">
    <div class="card w-100 h-100" >
      <div class="row">
        <div class="col-md-4">
          <img src=".." class="img-fluid rounded-start h-75 mt-5 ms-4" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body mt-2">
            <h4 class="card-title fw-bold ">المكونات</h4>



              <div class=""></div>


            <h4 class="card-text "><span class="fw-bold justify-content-start mt-2"></span>الطريقة</h4>
            <p class="card-text "><small><span class="fw-bold mt-5"></span>  </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
  </div>
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Multiple files input example</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
  </div>
  <div class="mb-3">
    <label for="formFileDisabled" class="form-label">Disabled file input example</label>
    <input class="form-control" type="file" id="formFileDisabled" disabled>
  </div>
  <div class="mb-3">
    <label for="formFileSm" class="form-label">Small file input example</label>
    <input class="form-control form-control-sm" id="formFileSm" type="file">
  </div>
  <div>
    <label for="formFileLg" class="form-label">Large file input example</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
  </div>

</div>
