
<div class="row mt-5">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="card w-100 h-100">
      <div class="row">
        <div class="col-md-12">
          <img
            src="{{ base64 }}"
            class="img-fluid rounded-start h-100 mt-3 p-2
             "
            alt="..."
          />
        </div>

      </div>
    </div>
  </div>


  <form class="col-md-4" [formGroup]="form">
    <div class="mb-2">


<!-- Recipe Name input -->
      <label for="name" class="form-label">اسم الوصفة</label>

      <input type="text" class="form-control" id="name" formControlName="name" placeholder="اسم الوصفة">

      <!-- Recipe ingrediants input -->
      <label for="ingrediants" class="form-label">المكونات</label>

      <input type="text" class="form-control" id="ingrediants" formControlName="ingrediants" placeholder="المكونات">

      <!-- Recipe method input -->
      <label for="method" class="form-label">الطريقة</label>

      <input type="text" class="form-control" id="method" formControlName="method" placeholder="الطريقة">





<!-- image input -->
      <label for="url" class="form-label">صورة</label>

      <input
        class="form-control"
        formControlName="url"
        type="file"
        id="url"
        (change)="getImagePath($event)"
      />
    </div>


<!-- category input -->
    <label for="category" class="form-label">نوع الاكلة</label>
    <input class="form-control"
      formControlName="categoryId"
      list="datalistOptions"
      id="categoryId"
      placeholder="النوع"/>

    <datalist id="datalistOptions" >
      <option value={{item.id}} *ngFor="let item of categories">{{item.name}}</option>
    </datalist>



<!-- Add Recipe Button -->

    <button type="button" [disabled]="!form.valid" class="btn btn-lg border rounded-5 mt-3" (click)="addRecipe()">
      ضيف الوصفة
    </button>



  </form>
</div>
